.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/application/config/config.php
/application/config/database.php
/.htaccess
/.buildpath
/.settings/
/.buildpath/
/.project
/.idea
/index.php
/eclipse/
!medias/index.html
/medias/*.*
/application/config/config.php
/application/config/database.php
/.htaccess
/index.php
/server/php/session_safari/*.bpo
/medias/savegame
/themes/default/js/jsconfig.js
/deploy.php
/*.log

/*.bat
/venv/